.accordion-button {
  background-color: rgba(0, 212, 255, 1);
}

.accordion-body {
  color: white;
  background: rgb(9, 9, 121, 1);
}

#dropdownMenuButton1 {
  background-color: black;
  border-radius: 16px;
  transition: background-color 1.5s;
}

#dropdownMenuButton1:hover {
  background-color: rgba(0, 212, 255, 1);
  color: brown;
}

@keyframes cambiarColor {
  50% {background-color: rgba(0, 212, 255, 1)}
}

.dropdown-menu {
  background-color: black;
  border-color: greenyellow;
}

.dropdown-item {
  color: aliceblue;
}