/*Selector de ID*/
#nombre{
    background-color: #52a3cb;
    text-align: center;
    width: auto;
    height: auto;
    box-sizing: content-box;
    padding: 2px;
}

/*Selector de Clase*/
.datos{
    background-color: #1ba041; /* color de fondo */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* fuente */
    color: #f9ff44; /* color de las letras */
    text-align: left; /* Alineacion del texto */
}
.gustos{
    background-color: #0c867c;
    font-family: fantasy;
}

#formulario{
    font-family: sans-serif;
    color: #080075a1;
}